<br>
<legend>Client</legend>

<!--
-------------------------------------------------------------------------------
SEARCH DATA
-------------------------------------------------------------------------------
-->
<div class="panel panel-success">
    <div class="panel-heading">
        <h4 class="panel-title">
        Search client
        </h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form name="clientSearchForm" role="form" class="form-inline">
                    <div class="form-group">
                        <label for="searchTypeSelect">Search by: </label>
                        <select id="searchTypeSelect" class="form-control" ng-model="searchData.searchField">
                            <option value="phone">Phone</option>
                            <option value="userName">User Name</option>
                            <option value="line">Line</option>
                            <option value="legacyClientId">IT Identifier</option>
                        </select>
                    </div>
                    <div class="form-group" ng-class="{'has-error': clientSearchForm.phoneText.$invalid}" ng-if="searchData.searchField=='phone'">
                        <label for="phoneText">Phone: </label>
                        <input type="text" id="phoneText" name="phoneText" class="form-control" ng-model="searchData.phone" ng-pattern="/^[0-9]{7,11}$/">
                    </div>
                    <div class="form-group"  ng-class="{'has-error': clientSearchForm.userNameText.$invalid}" ng-if="searchData.searchField=='userName'">
                        <label for="userNameText">User name: </label>
                        <input type="text" id="userNameText" name="userNameText" class="form-control" ng-model="searchData.userName" ng-pattern="/.+/">
                    </div>
                    <div class="form-group" ng-class="{'has-error': clientSearchForm.nasPortText.$invalid}" ng-if="searchData.searchField=='line'">
                        <label for="nasPortText">NAS-Port: </label>
                        <input type="text" id="nasPortText" name="nasPortText" class="form-control" ng-model="searchData.nasPort" ng-pattern="/^[0-9]{1,10}$/">
                    </div>
                    <div class="form-group" ng-class="{'has-error': clientSearchForm.nasIPAddressText.$invalid}" ng-if="searchData.searchField=='line'">
                        <label for="nasIPAddressText">NAS-IP-Address: </label>
                        <input type="text" id="nasIPAddressText" name="nasIPAddressText" class="form-control" ng-model="searchData.nasIPAddress" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/">
                    </div>
                    <div class="form-group" ng-class="{'has-error': clientSearchForm.legacyClientIdText.$invalid}" ng-if="searchData.searchField=='legacyClientId'">
                        <label for="legacyClientIdText">IT Identifier: </label>
                        <input type="text" id="legacyClientIdText" name="legacyClientIdText" class="form-control" ng-model="searchData.legacyClientId" ng-pattern="/.+/">
                    </div>
                    <button type="button" ng-if="searchData.searchField" class="btn btn-primary" ng-click="getFullClientContext()">Search
                        <i class="fa fa-search">
                        </i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--
-------------------------------------------------------------------------------
CLIENT DATA
-------------------------------------------------------------------------------
-->

<div class="accordion" id="clientData">
    <div class="accordion-group">

        <div class="panel panel-info">
            <div class="panel-heading" role="tab">
                <div class="accordion-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle mylink" data-toggle="collapse" data-parent="#clientData" data-target="#clientDataPanel">
                            Client Data
                        </a>
                    </h4>
                </div>
            </div>
            <div id="clientDataPanel" class="accordion-body collapse in">
                <div class="panel-body">
                    <div class="accordion-inner">
                        <div class="row">
                            <form name="clientDataForm" role="form">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="legacyClientId">IT Client Id: </label>
                                        <input type="text" id="legacyClientId" class="form-control" ng-model="client.provision.legacyClientId">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Client name: </label>
                                        <input type="text" id="name" class="form-control" ng-model="client.provision.name">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">State: </label>
                                        <select id="status" class="form-control" ng-model="client.provision.status">
                                            <option value="0">Active</option>
                                            <option value="1">Restricted</option>
                                            <option value="2">Blocked</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="legacyClientIdSec">IT Client Id (sec): </label>
                                        <input type="text" id="legacyClientIdSec" class="form-control" ng-model="client.provision.legacyClientIdSec">
                                    </div>
                                    <div class="form-group">
                                        <label for="planName">Plan: </label>
                                        <input type="text" id="planName" class="form-control" ng-model="client.provision.planName">
                                    </div>
                                    <div class="form-group">
                                        <label for="timeZone">Time Zone: </label>
                                        <input type="text" id="timeZone" class="form-control" ng-model="client.provision.timeZone">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="legalId">DNI: </label>
                                        <input type="text" id="legalId" class="form-control" ng-model="client.provision.legalId">
                                    </div>
                                    <div class="form-group">
                                        <label for="billingDay">Billing day: </label>
                                        <input type="number" id="billingDay" class="form-control" ng-model="client.provision.billingDay">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" id="clientUpdate" class="btn btn-default" ng-click="updateClient()">
                                        Update
                                        <i class="fa fa-check">
                                        </i>
                                    </button>
                                    <button type="button" id="createClient" class="btn btn-info" ng-click="createClient()">
                                        New Client
                                        <i class="fa fa-plus">
                                        </i>
                                    </button>
                                    <button ng-if="client._id" type="button" id="deleteClient" class="btn btn-primary" ng-click="deleteClient()">
                                        Delete Client
                                        <i class="fa fa-times">
                                        </i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>

<!--
-------------------------------------------------------------------------------
POINTS OF USAGE
-------------------------------------------------------------------------------
-->

<div class="accordion" id="pouData">
    <div class="accordion-group">

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="accordion-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle mylink" data-toggle="collapse" data-parent="#pouData" data-target="#pouDataPanel">
                            Points of usage
                        </a>
                    </h4>
                </div>
            </div>
            <div id="pouDataPanel" class="accordion-body collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Phones</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="pou in pointsOfUsage.phones">
                                    <td>
                                        <span>{{pou.phone}}</span>
                                    </td>
                                    <td>
                                        <i class="fa fa-times mylink" ng-click="deletePoU('phone', pou)"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-4">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>User Names</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="pou in pointsOfUsage.userNames">
                                    <td>
                                        <span>{{pou.userName}}</span>
                                    </td>
                                    <td>
                                        <i class="fa fa-times mylink" ng-click="deletePoU('userName', pou)"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-4">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Lines</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="pou in pointsOfUsage.lines">
                                    <td>
                                        {{pou.nasIPAddress}}:{{pou.nasPort}}
                                    </td>
                                    <td>
                                        <i class="fa fa-times mylink" ng-click="deletePoU('line', pou)"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <hr>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <form name="addPoUForm" role="form" class="form-inline">
                                <button type="button" id="showAddPoU" class="btn btn-info" ng-click="addPoU()">
                                    Add new
                                    <i class="fa fa-check">
                                    </i>
                                </button>
                                <div class="form-group">
                                    <label for="PoUTypeSelect">Type: </label>
                                    <select id="PoUTypeSelect" class="form-control" ng-model="pouType">
                                        <option value="phone">Phone</option>
                                        <option value="userName">User Name</option>
                                        <option value="line">Line</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="PoUValue">Value: </label>
                                    <input type="text" id="PoUValue" class="form-control" ng-model="pouValue">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
-------------------------------------------------------------------------------
PLAN
-------------------------------------------------------------------------------
-->

<div class="accordion" id="planData">
    <div class="accordion-group">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="accordion-heading">
                    <h4 class="panel-title">
                    <a class="accordion-toggle mylink" data-toggle="collapse" data-parent="#planData" data-target="#planDataPanel">
                        Plan {{plan.description}}
                    </a>
                    </h4>
                </div>
            </div>
            <div id="planDataPanel" class="accordion-body collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Credits -->
                            <table class="table" ng-if="client && plan && client.credit">
                                <thead>
                                <tr>
                                    <th>Credit</th>
                                    <th>Remanent Volume</th>
                                    <th>Remanent Time</th>
                                    <th>Expiration Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- TODO: Filter to show only credits that are usable in current plan -->
                                <tr ng-repeat="creditPool in client.credit.creditPools">
                                    <td>
                                        {{creditPool.poolName}}
                                    </td>
                                    <td>
                                        {{creditPool.bytes|formatResource: 'GB'}}
                                    </td>
                                    <td>
                                        {{creditPool.seconds|formatResource: 'H'}}
                                    </td>
                                    <td>
                                        {{creditPool.expirationDate|date: 'yyyy-MM-dd HH:mm'}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- Recharges -->
                            <table class="table" ng-if="client && plan && plan.recharges">
                                <thead>
                                <tr>
                                    <th>Recharge Name</th>
                                    <th>Volume</th>
                                    <th>Time</th>
                                    <th>Expiration</th>
                                </tr>
                                </thead>

                                <tr ng-repeat="recharge in plan.recharges">
                                    <td>
                                        {{recharge.description}}
                                    </td>
                                    <td>
                                        {{recharge.bytes |formatResource:'GB'}}
                                    </td>
                                    <td>
                                        {{recharge.seconds |formatResource: 'H'}}
                                    </td>
                                    <td>
                                        1 month
                                    </td>
                                    <td>
                                        <button type="button" ng-if="recharge.creationType==4" class="btn btn-success btn-circle" ng-click="buyRecharge(recharge.name)"><i class="fa fa-shopping-cart"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
