<form name="basicConfigForm" role="form">
<legend>Diameter Basic Configuration</legend>
<div class="row">
	<div class="col-lg-12">
		<div class="col-lg-6">
            <div class="form-group" ng-class="{'has-error': basicConfigForm.serverName.$invalid}">
                <label>Server Name:</label>
                <input name="serverName" type="text" class="form-control" ng-model="diameterConfig.serverName" ng-pattern="/.{3,}/">
                <p class="help-block">Server hostname</p>
            </div>
            <div class="form-group" ng-class="{'has-error': basicConfigForm.originHost.$invalid}">
				<label>Diameter Host Name:</label>
				<input name="originHost" type="text" class="form-control" ng-model="diameterConfig.originHost" ng-pattern="/.{3,}/">
			</div>		
			<div class="form-group" ng-class="{'has-error': basicConfigForm.realm.$invalid}">
				<label>Diameter Realm:</label>
				<input name="realm" type="text" class="form-control" ng-model="diameterConfig.originRealm">
			</div>	
			<div class="form-group" ng-class="basicConfigForm.IPAddress.$invalid ? 'has-error': '' ">
				<label>Listen Address:</label>
				<input name="IPAddress" class="form-control" ng-pattern="/^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" ng-model="diameterConfig.IPAddress">
			</div>		
			<div class="form-group" ng-class="{'has-error': basicConfigForm.port.$invalid}">
				<label>Listen Port:</label>
				<input name="port" class="form-control" ng-model="diameterConfig.port" ng-pattern="/[0-9]{4,5}/">
			</div>
            <div class="form-group" ng-class="{'has-error': basicConfigForm.interval.$invalid}">
                <label>Connection interval:</label>
                <input name="interval" class="form-control" ng-model="diameterConfig.connectionInterval" ng-pattern="/[0-9]{1,9}/">
                <p class="help-block">In milliseconds. Interval to try reconnect to peers</p>
            </div>
            <div class="form-group"  ng-class="{'has-error': basicConfigForm.vendorId.$invalid}">
                <label>Vendor Id:</label>
                <input name="vendorId" class="form-control" ng-model="diameterConfig.vendorId" ng-pattern="/[0-9]{1,9}/">
            </div>
            <div class="form-group"  ng-class="{'has-error': basicConfigForm.productName.$invalid}">
                <label>Product Name:</label>
                <input name="productName" type="text" class="form-control" ng-model="diameterConfig.productName">
            </div>
            <div class="form-group"  ng-class="{'has-error': basicConfigForm.firmwareRevision.$invalid}">
                <label>Firmware Revision:</label>
                <input name="firmwareRevision" type="number" class="form-control" ng-model="diameterConfig.firmwareRevision" ng-pattern="/[0-9]{1,9}/">
            </div>
            <div class="form-group">
				<button type="button" ng-disabled="{{disabled}}" class="btn btn-primary" ng-click="updateDiameterConfig()">Submit changes
					<i class="fa fa-check">
					</i>
				</button>
			</div>			
		</div>
	</div>
</div>
</form>