<div class="container-fluid">
<br>
<legend>Diameter Dictionary</legend>

    <!-- List of vendors -->
    <div class="panel-group" id="vendors" role="tablist" aria-multiselectable="true">
        <!-- Vendor -->
        <div class="panel panel-default" ng-repeat="vendor in vendors">
            <div class="panel-heading" role="tab" id="vendor_heading_{{vendor}}">
                <h4 class="panel-title">
                    <a class="mylink" role="button" data-toggle="collapse" data-parent="#vendors" data-target="#vendor_body_{{vendor}}" aria-expanded="true" aria-controls="#vendor_body_{{vendor}}">
                        {{diameterDictionary["vendor"][vendor]}}
                    </a>
                </h4>
            </div>
            <div id="vendor_body_{{vendor}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="vendor_heading_{{vendor}}">
                <div class="panel-body">
                    <!-- Attributes -->
                    <div ng-repeat="attribute in diameterDictionary.avp[vendor]">
                        <h4><a class="mylink" role="button" data-toggle="collapse" data-target="#vendor_attribute_{{vendor}}_{{attribute.name}}">
                            {{attribute.name}}
                        </a></h4>

                        <div id="vendor_attribute_{{vendor}}_{{attribute.name}}" class="collapse">
                            <!-- Attribute form -->
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Code:</label>
                                        <input name="code" ng-model="attribute.code" class="form-control" type="number"/>
                                        <p class="help-block">Required field</p>
                                    </div>

                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Name:</label>
                                        <input name="name" ng-model="attribute.name" class="form-control" type="text" />
                                        <p class="help-block">Required field</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Type:</label>
                                        <select class="form-control" ng-model="attribute.type" ng-options="theType.name as theType.type for theType in types">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <input name="delete" class="form-control btn btn-sm btn-warning" type="button" value="delete" ng-click="deleteAttribute(vendor, $index)"/>
                                    </div>
                                </div>
                            </div>
                            <!-- END OF Attribute form -->
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" class="btn btn-info" ng-click="addAttribute(vendor)">Add New
                                <i class="fa fa-plus">
                                </i>
                            </button>
                        </div>
                    </div>
                    <!-- Attributes -->
                </div>
            </div>
        </div>
        <!-- END OF Vendor -->
    </div>
    <!-- END OF List of vendors -->

<div class="form-group">
    <button type="button" class="btn btn-primary" ng-click="updateDiameterDictionary()">Submit changes
        <i class="fa fa-check">
        </i>
    </button>
</div>

</div>