<br>
<legend>Connections</legend>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Diameter host name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="connection in connections">
            <td>{{connection.hostName}}</td>
            <td>{{connection.state}}</td>
        </tr>
    </tbody>
</table>

<br>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <legend>Diameter statistics</legend>

            <abn-tree
                    tree-data         = "diameterStats"
                    icon-leaf         = ""
                    icon-expand       = "fa fa-plus"
                    icon-collapse     = "fa fa-minus"
                    on-select         = "">
            </abn-tree>
        </div>
        <div class="col-md-6">
            <legend>Radius statistics</legend>

            <abn-tree
                    tree-data         = "radiusStats"
                    icon-leaf         = ""
                    icon-expand       = "fa fa-plus"
                    icon-collapse     = "fa fa-minus"
                    on-select         = "">
            </abn-tree>
        </div>
    </div>
</div>


