<br>
<legend>Connections</legend>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Diameter host name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="connection in connections">
            <td>{{connection.hostName}}</td>
            <td>{{connection.state}}</td>
        </tr>
    </tbody>
</table>

<br>
<legend>Node statistics</legend>

<abn-tree
        tree-data         = "stats"
        icon-leaf         = ""
        icon-expand       = "fa fa-plus"
        icon-collapse     = "fa fa-minus"
        on-select         = "">
</abn-tree>

