<!DOCTYPE html>
<html ng-app="managerApp">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Lever Manager Application</title>

	<!-- Core CSS - Include with every page -->
	<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/bower_components/fontawesome/css/font-awesome.css" rel="stylesheet">
    <link href="/bower_components/angular-bootstrap-nav-tree/dist/abn_tree.css" rel="stylesheet">
    <link href="/bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">

	<!-- SB Admin CSS - Include with every page -->
	<link href="/stc/css/sb-admin.css" rel="stylesheet">

	<!-- Core Scripts - Include with every page -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/bootbox/bootbox.js"></script>
    <script src="/stc/js/metisMenu/jquery.metisMenu.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="/stc/js/sb-admin.js"></script>
	
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-bootstrap-nav-tree/dist/abn_tree_directive.js"></script>
    <script src="/bower_components/angular-xeditable/dist/js/xeditable.js"></script>

    <script src="/bower_components/spin.js/spin.js"></script>
    <script src="/bower_components/angular-spinner/angular-spinner.js"></script>

    <!-- Include the plugin's CSS and JS: -->

</head>

<body>
    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">

                <a class="navbar-brand" href="index.html">Lever Admin 1.0</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  
						<i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
							<a href="#">
								<i class="fa fa-user fa-fw"></i> User Profile
							</a>
                        </li>
                        <li>
							<a href="#">
								<i class="fa fa-gear fa-fw"></i> Settings
							</a>
                        </li>
                        <li class="divider"></li>
                        <li>
							<a href="login.html">
								<i class="fa fa-sign-out fa-fw"></i> Logout
							</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default navbar-static-side" role="navigation" ng-controller="NodeListController">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
                            </div>
                            <!-- /input-group -->
                        </li>
						<li>
                            <a href="#/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
						<li>
                            <!-- Old -->
							<a href="#">
								<i class="fa fa-wrench fa-fw"></i> Settings<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level">
								<li>
									<a href="#/diameterDictionary"> Diameter Dictionary</a>
								</li>
                                <li>
                                    <a href="">Radius Dictionary</a>
                                </li>
							</ul>
                        </li>
                        <li>
                            <!-- New -->
                            <a href="#">
                                <i class="fa fa-sitemap"></i> Nodes<span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li ng-repeat="hostName in nodes">
                                    <a href="#/node/{{hostName}}"> {{hostName}}</a>
                                </li>
                            </ul>
						</li>
						<li>
                            <a href="#/clients">
                                <i class="fa fa-user fa-fw"></i> Clients
                            </a>
                        </li>
						<li>
                            <a href="#/plans/1001">
                                <i class="fa fa-edit fa-fw"></i> Products
                            </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-tasks"></i> Node Reports<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li ng-repeat="hostName in nodes">
                                    <a href="#/nodeStats/{{hostName}}">{{hostName}}</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Global Reports<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#"> Advertising</a>
                                </li>
                                <li>
                                    <a href="#"> Purchases</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <span us-spinner spinner-key="spinner-main"></span>

        <div ng-view id="page-wrapper">

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Page-Level Plugin Scripts - Dashboard -->
	<!--
    <script src="js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="js/plugins/morris/morris.js"></script>
	-->


    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
	<!--
    <script src="js/demo/dashboard-demo.js"></script>
	-->
	
	<script src="/stc/app/app.js"></script>
	<script src="/stc/app/controllers.js"></script>

</body>

</html>
